<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Success</title>
</head>
<body>
<div>
    <h1>Congratulation!!! You are registered:</h1>
    <h2>You can log in using userid and password from<a href="/login">Login page</a></h2>
    <p><b>User ID:</b>{{ user.userid }}</p>
    <p><b>User Name:</b>{{ user.username }}</p>
    <p><b>Email:</b>{{ user.email }}</p>
    <p><b>Phone:</b>{{ user.phone }}</p>
    <p><b>City:</b>{{ user.city }}</p>
</div>
</body>
</html>